extends ../layout

block content
  div(id='app')

  script(type='text/x-template' id='content-component')
    div(id='app')
      h3(style='text-align: center;margin-bottom: 30px;') #{data.banner.title ? '编辑本条数据' : '新增数据'}
      .common-input(v-for='input in inputs' :key='input.key')
        span {{colsView[input.key] || input.prefix}}
        el-input(
          v-model.trim='form[input.key]'
          :placeholder='input.placeholder'
          :type='input.type || "textarea"'
          size='mini')

      .common-input(v-for='select in selects' :key='select.key')
        span {{select.prefix}}
        el-select(v-model='form[select.key]' :placeholder='select.placeholder' size='mini')
          el-option(
            v-for='opt in select.opts'
            :label='opt.l'
            :value='opt.v'
            :key='opt.value')

      .common-input
        span 所属板块类型：
        el-select(v-model='form.type' placeholder='请选择所属板块或轮播类型' size='mini')
          el-option(
            v-for='opt in types'
            :label='opt.description'
            :value='opt.id'
            :key='opt.value')
      .common-input(style='width: 400px')
        a(href='../doc' target='_blank')
          h3 图片尺寸及上传注意事项看这里 -->
      .common-input
        span 图片
        el-upload.common-upload(
          action='/banner/upload'
          :on-success='uploadSuccess'
          :show-file-list='false'
          :before-upload='beforeUpload'
          :on-change='uploadComplete'
          :disabled='loading'
        )
          img(v-if='form.url' :src='form.url')
          i(v-else :class='uploadIconClass')
      .common-input
        span 图片(英文版)
        el-upload.common-upload(
          action='/banner/upload'
          :on-success='uploadEnImgSuccess'
          :show-file-list='false'
          :before-upload='beforeUpload'
          :on-change='uploadComplete'
          :disabled='loading'
        )
          img(v-if='form.url_en' :src='form.url_en')
          i(v-else :class='uploadIconClass')

      div(style='width: 650px;margin: auto;')
        span(style='font-size: 12px;margin-right: 15px;') {{colsView.icon || "上传小图标："}}
        el-upload.common-icon-upload(
          action='/banner/upload'
          :on-success='uploadIconSuccess'
          :show-file-list='false'
          :before-upload='beforeUpload'
          :on-change='uploadComplete'
          :disabled='loading'
          style='width: 60px;height: 60px;line-height: 60px;'
        )
          img(v-if='form.icon' :src='form.icon')
          i(v-else :class='uploadIconClass')

      .common-input(style='text-align: center;margin-top: 30px')
        el-button(
          type='primary'
          @click='submit'
          :loading='loading'
          size='mini') 保存
  script.
    new Vue({
      el: '#app',
      template: '#content-component',
      data: function () {
        return {
          loading: false,
          types: !{JSON.stringify(data.bannerTypes)},
          //- uploadUrl: window.location.origin + '/banner/upload',
          inputs: [
            { prefix: '标题:', key: 'title', placeholder: '请输入主标题' },
            { prefix: '标题(英文):', key: 'title_en', placeholder: '请输入主标题(英文版)' },
            { prefix: '副标题:', key: 'subtitle', placeholder: '请输入副标题' },
            { prefix: '副标题(英文):', key: 'subtitle_en', placeholder: '请输入副标题(英文版)' },
            { prefix: '内容:', key: 'content', placeholder: '请输入内容' },
            { prefix: '内容(英文):', key: 'content_en', placeholder: '请输入内容(英文版)' },
            { prefix: '描述介绍:', key: 'description', placeholder: '请输入描述介绍' },
            { prefix: '描述介绍(英文):', key: 'description_en', placeholder: '请输入描述介绍(英文版)' },
            { prefix: '点击跳转链接:', key: 'href', placeholder: '可输入点击跳转链接', type: 'text' }
          ],
          selects: [
            { prefix: '轮播状态:', key: 'status', placeholder: '请选择展示状态', opts: [{ l: '下线隐藏', v: 0 }, { l: '上线展示', v: 1 }] },
          ],
          form: {
            id: !{JSON.stringify(data.banner.id) || 'null'},
            type: !{JSON.stringify(data.banner.type) || 'null'},
            title: !{JSON.stringify(data.banner.title) || 'null'},
            title_en: !{JSON.stringify(data.banner.title_en) || 'null'},
            subtitle: !{JSON.stringify(data.banner.subtitle) || 'null'},
            subtitle_en: !{JSON.stringify(data.banner.subtitle_en) || 'null'},
            description: !{JSON.stringify(data.banner.description) || 'null'},
            description_en: !{JSON.stringify(data.banner.description_en) || 'null'},
            content: !{JSON.stringify(data.banner.content) || 'null'},
            content_en: !{JSON.stringify(data.banner.content_en) || 'null'},
            url: !{JSON.stringify(data.banner.url) || 'null'},
            url_en: !{JSON.stringify(data.banner.url_en) || 'null'},
            href: !{JSON.stringify(data.banner.href) || 'null'},
            icon: !{JSON.stringify(data.banner.icon) || 'null'},
            content_origin: !{JSON.stringify(data.banner.content_origin) || 'null'},
            content_origin_id: !{JSON.stringify(data.banner.content_origin_id) || 'null'},
            content_en_origin: !{JSON.stringify(data.banner.content_en_origin) || 'null'},
            content_en_origin_id: !{JSON.stringify(data.banner.content_en_origin_id) || 'null'},
            status: #{[0, 1].indexOf(data.banner.status) > -1 ? data.banner.status : 1}
          }
        }
      },
      computed: {
        uploadIconClass: function () {
          return 'el-icon-plus ' + (this.loading ? 'el-icon-loading' : 'avatar-uploader-icon')
        },
        colsView: function () {
          var referrer = (document.referrer || '').replace(window.location.origin, '')
          switch (referrer) {
            case '/admin/news':
              return {
                subtitle: '新闻时间或第三方新闻来源',
                subtitle_en: '新闻时间或第三方新闻来源(英文)',
                description: '新闻简介',
                description_en: '新闻简介(英文)',
                icon: '新闻来源Icon'
              }
            default:
              return {}
          }
        }
      },
      methods: {
        submit: function () {
          var that = this
          that.loading = true
          $.ajax({
            type: that.form.id > 0 ? 'put' : 'post',
            url: '/banner',
            timeout: 30000,
            data: that.form,
            success: function (data) {
              if (data.success) {
                that.$message.success('保存成功!')
                setTimeout(function () {
                  window.location.href = document.referrer
                }, 500)
              } else {
                that.$message.error('保存失败: ' + data.errMsg)
              }
            },
            error: function (xhr) {
              try {
                var msg = JSON.parse(xhr.response).errMsg
                that.$message.error(msg)
              } catch (err) {
                that.$message.error('网络异常!')
              }
            },
            complete: function () {
              that.loading = false
            }
          })
        },
        beforeUpload: function (file) {
          this.loading = true
        },
        uploadWrapper: function (key, response, file, fileList) {
          try {
            var { success, data, errMsg, err } = response
            if (success) {
              this.form[key] = data.url
              this.$message.success('上传成功!')
            } else {
              console.error(err)
              this.$message.error(errMsg)
            }
          } catch (err) {
            this.$message.warning('上传失败!请检查网络')
          }
        },
        uploadSuccess: function (response, file, fileList) {
          this.uploadWrapper('url', response, file, fileList);
        },
        uploadEnImgSuccess: function (response, file, fileList) {
          this.uploadWrapper('url_en', response, file, fileList);
        },
        uploadIconSuccess: function (response, file, fileList) {
          this.uploadWrapper('icon', response, file, fileList);
        },
        uploadComplete: function (file, fileList) {
          this.loading = false
        }
      }
    })
  
